@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

.header-section{
    background-image: url(../images/coding1.gif);
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 100%;
    width: 99%;
    height: 30%;
    text-align: center;
    text-transform: bold;
}

.header-section:hover{
    background-color: rgba(255, 248, 220, 0.575);
    background-image: none;
    transform: scale(1.05);
    transition: ease-in-out 500ms;
}

.header-text{
    padding: 7%;
    text-shadow: black 45px 30px 15px;
}

.navbar{

    position: sticky;
    top: 0;
    width: 100%;
    padding: 5%;
}

.navbar-section:hover{
    transform: scale(1.05);
    transition: ease-in-out 500ms;
}

.about-text{
    background-color: black;
    padding: 5%;
    color: white;
    text-align: center;
}

.about-section:hover{
    transform: scale(1.05);
    transition: ease-in-out 500ms;
    text-shadow: white 1px 1px 1px;
}

.about-gif{
    max-width: 75%;
    width: 100%;
    padding-left: 25%;
}

.section-title{
    text-align: center;
    padding-bottom: 5%;
}

.section-title:hover{
    text-decoration: underline;
    text-shadow: black 1px 1px 1px ;

}

.skills-carousel-inner{
    padding-left: 42%;
    height: 30%;
}

.skills-section{

    padding-bottom: 5%;
}

.skills-section:hover{
    transform: scale(1.05);
    transition: ease-in-out 500ms;  
}

.carousel-item > img:hover{
    transform: rotate(360deg);
    transition: ease-in-out 500ms;
}

.experience-section{
    padding-top: 5%;
    background-color: #339989;
    color: white;
}

.experience-columns{
    display: inline-flex;
    text-align: center;
}

.experience-section:hover{
    transform: scale(1.05);
    transition: ease-in-out 500ms; 
    text-shadow: white 1px 1px 1px; 
}

.responsibilities{
    padding-top: 5%;
    list-style: circle
}

.education-section:hover{

    transition: ease-in-out 500ms;
    text-shadow: black 1px 1px 1px;  
}

.education-columns{
    display: inline-flex;
    text-align: center;
    padding-bottom: 5%;
}

.modal-button{
    padding-top: 5%;

}

#education-title{
    padding-top: 5%;
}

.contact-picture:hover{
    transform: scale(1.05);
    transition: ease-in-out 500ms;  
}

.contact-form:hover{
    transform: scale(1.05);
    transition: ease-in-out 500ms;  
}

.contact-form{
    padding-top: 5%;
    display: grid;
    place-items: center;
    padding-bottom: 5%;
}

.contact-picture{
    display: grid;
    place-items: center;
    padding-bottom: 5%;
}

.footer-section{
    background-color: black;
    text-align: center;
}

.footer-section:hover{
    transform: scale(1.05);
    transition: ease-in-out 500ms;  
}

.footer-scroll{
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
}

#scroll-to-top{
    color: black;
}

button:hover{
    transition: ease-in-out 500ms;  
    box-shadow: #339989 5px 5px 10px;
    border-radius: 50px;
}

.contact-form > button{
    text-decoration: none;
    color: white;
}

.navbar-brand:hover{
    transition: ease-in-out 500ms;  
    text-shadow: #339989 3px 3px 10px;
}