.grid-container{
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: black;
  grid-gap: 10px;
  padding: 5px;
  text-align: center;
}

.grid-container > div{
  background-color: bisque;
  box-shadow: silver 5px 5px 5px;
}

.Section1{
  grid-row-start: 1;
  grid-row-end: 5;
}

.Section5{
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start:2 ;
  grid-column-end: 3;
}

.Section6{
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start:3 ;
  grid-column-end: 4;
}

.Section7{
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column-start:3 ;
  grid-column-end: 4;
}

@media screen and (max-width:500px) {
  .grid-container > div{
    background-color: slateblue;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .Section6{
    clear: both;
  }
}

@media screen and (min-width:1250px) {
  .grid-container > div{
    background-color: steelblue;
  }
}