
.nav{

    display: grid;
    grid-template-columns: 33% 34% 33%;
    height: 100px;
    padding: 10px;
}
.nav-item{
    position: sticky;
    text-align: center;
    font-size: 32px;
    padding: 20px;

}


img.head{
    margin: 10px;
    padding: 15px;
    height: 800px;
}