body{
    text-align: center;
    border: black solid 2px;
}

/*code for mobile devices smaller than 550px*/
body { background-color: blue; }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 550px) {
   body { background-color: red; }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
   body { background-color: green; }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
   body { background-color: yellow; }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
   body { background-color: orange; }
}

.content{
    display: inline-block;
    width: 30%;
    height: 250px;
    background-color: crimson;
    margin: 5px;
    box-shadow: black 5px 5px 5px;
}

@media screen and (max-width:768px){
    .content{
        display: inline-block;
        width: 45%;
        height: 250px;
        background-color: crimson;
        margin: 5px;
    }

    #bottom{
        display: inline-block;
        width: 90%;
        height: 250px;
        background-color:plum;
        margin: 5px;
    }
}

@media screen and (max-width:550px){
    .content{
        display: block;
        width: 90%;
        height: 250px;
        background-color: palevioletred;
        margin-left: auto;
        margin-right: auto;
    }

    #bottom{
        display: block;
        width: 90%;
        height: 250px;
        background-color: palevioletred;
        margin-left: auto;
        margin-right: auto;
    }
}