
header {
    height: 200px;
    color: #ccc9a1;
    text-shadow: black 5px 5px 5px;
    background-color: #211e23;
    padding: 2px;
    border-style: ridge;
    border-color: rgba(0, 0, 0, 0.753);

}


body {
    margin: 0px;
    font-size: 16px;
}
.list {
    color: #211e23;
    background-color: #ccc9a1;
    padding: 2px;
    background-image: url(../images/EthanBG.jpg);
    background-repeat: stretch;
}

footer {
    color: #ccc9a1;
    text-shadow: black 5px 5px 5px;
    border-style: ridge;
    border-color: rgba(0, 0, 0, 0.753);
 padding: 6px;
    background-color: #211e23;
}
a {
    text-decoration: none;
    color:black;
}

.list a{
    text-decoration: none;
    color:#ccc9a1;
}

a:hover{
    text-shadow: black 5px 5px 5px;
}
.content {
    padding: 20px;
}
.lists{
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px;
    list-style: none;
}
h4{
    font-weight: normal;
    text-decoration: underline;
}

picture{
border-radius: 30px;
}

.list img{
    border-radius: 100%;
}

.pic:hover{

    background-color:white;
    border: black solid;

}

.interests-skills{
    display: inline;
}

#section-interests{
    float: left;
    width: 40%;
}
#section-skills{
    float: right;
    width: 60%;
}

.experiences{
    clear: both;
    display: inline;
}

.no-style{

    list-style: none;
   
    float: right;

    width: 60%;
}

.left{
    float: left;
    width: 20%;
}

#work{
    clear: both;
}

h3{
    text-decoration: underline;
}

@media screen and (min-width:500px) {
    .content{
        display: inline-block;
        width: 45%;
        background-color: cornflowerblue;
    }
    
}

@media screen and (min-width:900px) {
    .content{
        display: inline-block;
        width: 100%;
        background-color: coral;
    }
    
}

@media screen and (min-width:1200px) {
    .content{
        display: inline-block;
        width: 100%;
        background-color: violet;
    }
    
}