@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
*
{
    margin: 1em;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

.navbar-section{
    height: 14em;
    background-color: black;
    color: white;
}

.navbar-section:hover{
    text-shadow: cornflowerblue 5px 10px 10px;
}

.btn{
    border: white solid 1px;
}

.navbar-section a{
    color: white;
}

#logo{
    border-radius: 25%;
}

.header-section{
    text-align: center;
}

.header-text{
    animation-duration: 10s;
    animation-name: slide;
    animation-iteration-count:infinite;
    transition: 1s ease-in-out;
}

.header-text:hover{
    text-shadow: cornflowerblue 5px 10px 10px;
}

.content-section{
    text-align: center;
    padding: 10%;
    font-size: 14px;
    background-color: black;
    color: white;
}

.content-section:hover{
    text-shadow: cornflowerblue 5px 10px 10px;
}

.candid-section-whole{
    display: inline-flex;
    padding: 5%;
    background-color: black;
    color: white;
}

.candid-section2{
    text-align: center;
    padding-top: 14%;
}

.candid-section2:hover{
    text-shadow: cornflowerblue 5px 10px 10px;
}

.mail-form-section{
    width: 100%;
    height: 200px;
    padding: 5%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.mail-form{
    width: 100%;
    align-items: center;
    justify-content: center;
}

.mail-form:hover{
    text-shadow: cornflowerblue 5px 10px 10px;
}

.footer-section{
    text-align: right;
    background-color: black;
    color: white;
}

@keyframes slide {
    0% {
     text-align: center;
    }
  
    25% {
        text-align: left;
    }

    50% {
        text-align: center;
    }

    75% {
        text-align: right;
    }
  }